@import "{{ site.theme }}";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #007acc;
    text-align: center;
    margin-top: 50px;
}

p {
    text-align: center;
    font-size: 1.2em;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 20px 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: #007acc;
}

a:hover {
    text-decoration: underline;
}
