<!-- _layouts/post.html -->
---
layout: default
---
<article class="post">
    <header>
        <div class="title">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="meta">
            <time class="published" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%B %d, %Y" }}</time>
            <span class="author">by {{ page.author }}</span>
            <a href="#" class="author-image"><img src="{{ 'images/avatar.jpg' | relative_url }}" alt="{{ page.author }}" /></a>
        </div>
    </header>
    
    <div class="content">
        {{ content }}
    </div>
</article>