<!-- _layouts/post.html -->
---
layout: post
---
<article class="post">
    <header>
        <div class="title">
            <h2>{{ page.title }}</h2>
        </div>
        <div class="meta">
            <time class="published" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%B %d, %Y" }}</time>
            <a href="#" class="author"><span class="name">{{ page.author }}</span><img src="{{ 'images/avatar.jpg' | relative_url }}" alt="" /></a>
        </div>
    </header>
    {{ content }}
</article>